* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-contenedor {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #ffffff, #f0f8ff, #d4eaf5, #b0d7e6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.login-header {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  width: 100%;
  max-width: 480px;
  padding: 3rem 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  width: 300px;
  height: auto;
  margin-bottom: 2rem;
}

.login-header h1 {
  display: none;
  font-size: 1rem;
  font-weight: 600;
  color: #003049;
  margin: 0 0 1.5rem 0;
  text-align: center;
}

.login-tarjeta {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.login-form {
  width: 100%;
}

.input {
  margin-bottom: 2rem;
  text-align: left;
}

.input label {
  display: none;
  font-size: 1rem;
  color: #003049;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.input input {
  width: 100%;
  padding: 1rem 1.2rem;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 1rem;
  color: #333333;
  background: rgba(255, 255, 255, 0.8);
  transition: border-color 0.3s ease;
}

.login-boton {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #e9f5ff;
  background-color: #003049;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.login-boton:hover {
  color: #e9f5ff;
  background-color: #669bbc;
  transform: translateY(-1px);
}
