* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-p {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.menu-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

.menu-lista {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  position: static;
  transform: translateX((0%));
  background-color: transparent;
  height: auto;
  box-shadow: none;
  flex-direction: row;
}

.menu-lista a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #003049;
  font-weight: 400;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  min-width: 80px;
}

.menu-lista a:hover,
.menu-lista a.active {
  color: #669bbc;
}

.login {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #e9f5ff;
  background-color: #003049;
  border-radius: 10px;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  border: none;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
}
.login:hover {
  color: #e9f5ff;
  background-color: #669bbc;
}
.login.active {
  color: #e9f5ff;
}
.login:focus {
  outline: none;
}
.menu-hamburguesa {
  display: none;
  color: #003049;
}
.menu-derecha {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 992px) {
  .menu-p {
    padding: 0 1.5rem;
  }
  .menu-contenedor {
    gap: 1rem;
  }
  .logo {
    height: 65px;
  }
  .menu-lista {
    gap: 2rem;
  }
  .menu-lista a {
    font-size: 0.95rem;
    min-width: 70px;
  }
  .login {
    padding: 0.5rem 1.5em;
    font-size: 0.95rem;
    white-space: nowrap;
    overflow: hidden;
    min-width: 90px;
  }
}
@media (max-width: 768px) {
  .menu-p {
    height: 65px;
    padding: 0 1rem;
  }
  .logo {
    height: 60px;
  }

  .menu-hamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1;
  }
  .menu-hamburguesa .barra {
    width: 100%;
    height: 2.5px;
    background-color: #003049;
    border-radius: 10px;
    transition: all 0.3s linear;
  }
  .menu-lista {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: calc(100vh - 65px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;
    gap: 3rem;
    transform: translateX(100%);
    z-index: 1;
  }
  .menu-lista.activo {
    transform: translateX(0);
    height: 100vh;
    background-color: #e9f5ff;
  }
  .login {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
  }

  .menu-lista a {
    font-size: 1.2rem;
    min-width: 60px;
    width: 80%;
    text-align: center;
    padding: 0.6rem 1.2rem;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .menu-p {
    height: 60px;
    padding: 0.5rem 0.5rem;
  }
  .menu-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
  .logo {
    height: 45px;
    width: auto;
  }

  .menu-hamburguesa {
    width: 20px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .menu-hamburguesa .barra {
    height: 2px;
  }

  .menu-lista {
    top: 60px;
    height: calc(100vh - 55px);
    padding-top: 1.5rem;
    gap: 1.5rem;
    align-items: center;
  }
  .menu-lista a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    min-width: 50px;
    width: 100%;
    text-align: center;
    padding: 0.7rem 0;
    white-space: nowrap;
    overflow: hidden;
  }

  .login {
    display: flex;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 70px;
    width: auto;
  }
}
